/*
!/Assets/
!.gitignore
/Assets/PolygonAdventure
/Assets/PolygonKnights
/Assets/PolygonSamurai
/Assets/Synty Studios/Synty Studios
/Assets/ErbGameArt/Demo scene
/Assets/PolygonPirates
/Assets/PolygonSciFiCity
/Assets/Ultimate SFX Bundle